/* style.css for Lesson 1: Heading and Paragraph */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #333;
    font-size: 2.5rem;
    font-weight: bold;
}

p {
    color: #666;
    font-size: 1.2rem;
    line-height: 1.6;
}