/* style.css for Lesson 9: CSS Position */

body {
    font-family: Arial, sans-serif;
    padding-bottom: 1000px; /* To allow for scrolling */
}

.container {
    position: relative;
    height: 400px;
    border: 2px solid #333;
    margin-top: 30px;
}

.box {
    width: 100px;
    height: 100px;
    padding: 10px;
    color: white;
    text-align: center;
}

.static {
    background-color: #3498db;
}

.relative {
    background-color: #e74c3c;
    position: relative;
    top: 20px;
    left: 20px;
}

.absolute {
    background-color: #9b59b6;
    position: absolute;
    top: 0;
    right: 0;
}

.fixed {
    background-color: #2ecc71;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
