/* style.css for Lesson 10: Responsive Design */

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
    height: 100px;
    background-color: #3498db;
    border: 2px solid white;
    box-sizing: border-box;
}

/* On screens that are 600px or more, set the layout to 2 columns */
@media screen and (min-width: 600px) {
    .box {
        width: 50%;
    }
}

/* On screens that are 900px or more, set the layout to 3 columns */
@media screen and (min-width: 900px) {
    .box {
        width: 33.33%;
    }
}
